extends layout
block content
  h3
    a.anchor(name='pie', href='#pie')
      span.octicon.octicon-link
    | pie
  #pie-chart
  button#pie-chart-update update
  h3
    a.anchor(name='line', href='#line')
      span.octicon.octicon-link
    | line
  #line-chart
  button#line-chart-update update